.about {

    text-align: center;
    
    .about-header {


        img {
            max-width: 100px;
        }

        .about-header-description {
            text-transform: $text-uppercase;
            color: $color-dark-violet;
            letter-spacing: 2px;
            margin-bottom: 0;
        }
    }

    .about-content{
        color: $color-primary-text;
        max-width: 850px;
        font-weight: 300;
        margin: 0 auto;
        margin-bottom: 26px;
        text-align: center;
    }

    

}
