.main-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    background-color: #fff;
    padding: 12px 0;

    .menu-nav-holder {
        @include flexbox;
        justify-content: space-between;
    }

    .logo-text {
        height: 50px;
        display: inline-block;

        img {
            height: 100%;
        }
    }

    %mobile-controls {
        font-size: 28px;
        line-height: 50px;
        cursor: pointer;
    }

    .menu-hamburger {
        @extend %mobile-controls;
        color: $color-blue;
    }

    .menu-close {
        @extend %mobile-controls;
        color: #fff;
        text-align: right;
        height: 50px;
    }

    .open-menu-holder {
        position: fixed;
        top: 0;
        right: 0;
        max-width: 480px;
        width: 480px;
        text-align: right;
        background-color: $color-blue;
        padding: 12px 23px;
        display: none;

        &.open {
            display: block;
        }
    }
    
    .menu {
        list-style: none;

        .menu-item {
            font-size: 50px;
            text-transform: $text-uppercase;
            padding: 20px 0;

            a {
                color: #fff;
                text-decoration: none;
            }
        }
    }

    @media all and (min-width: $large){

        .menu-nav-holder {
            justify-content: flex-start;
        }

        .logo-text {
            height: 80px;
        }

        %mobile-controls {
            display: none;
        }

        .open-menu-holder {
            display: block;
            position: static;
            background-color: transparent;
            width: auto;
            max-width: 100%;
            padding: 0;
            text-align: flex-start;

            .menu {
                @include menu-list;
            }
        }

    
    }

}