// Font

$font-roboto: 'Roboto', sans-serif;
$font-bellota: 'Bellota', cursive;
$text-uppercase: uppercase;
$base-font-size: 16px;

// Color

$color-dark-gray: #1e2528;
$color-blue: #1ba4ce;

// container

$small-container: 100%;
$large-container: 960px;
$extra-large-container: 1140px

// Mobile breakpoints

